@model IEnumerable<Innovation_Ahead.CarPart>

@{
    ViewBag.Title = "ClientManagement";
}

<h2>ClientManagement</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("ClientManagement", "home"))
    {
        <input type="text" name="fil" />
        <input type="submit" value="Next" />
    }
</p>
<p>
    <table id="customers">
        <thead>
            <tr>
                <th>Provider</th>
                <th>Contact</th>
                <th>Car Name</th>
                <th>Make year</th>
                <th>Spare Part</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.filter)
            {
                <tr>
                    <td>@item.link1</td>
                    <td>@item.link2</td>
                    <td>@item.carName</td>
                    <td>@item.makeyear</td>
                    <td>@item.sparePart</td>
                </tr>
            }
        </tbody>
    </table>
</p>

