@model IEnumerable<Innovation_Ahead.CarPart>

@{
    ViewBag.Title = "ClientManagement";
}

<h2>ClientManagement</h2>

<p>
    @Html.ActionLink("Add Item", "client")
</p>
<p>
    @using (Html.BeginForm("ClientManagement", "home"))
    {
        <input type="text" name="fil" />
        <input type="submit" value="Search" />
    }
</p>
<p>
    <table id="customers">
        <thead>
            <tr>
                <th>Provider Name</th>
                <th>Contact Number</th>
                <th>Product Name</th>
                <th>Car Name</th>
                <th>Compatibile Year(s)</th>
                <th>Quantity</th>
                <th>Item Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.filter)
            {
            <tr>
                <td>@item.link1</td>
                <td>@item.link2</td>
                <td>@item.sparePart</td>
                <td>@item.carName</td>
                <td>@item.makeyear</td>
                <td>@item.quantity</td>
                <td>@item.description</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "CarParts", new { id = item.sno }, null) |
                    @Html.ActionLink("Delete", "Delete", "CarParts", new { id = item.sno })
                </td>
            </tr>
            }
        </tbody>
    </table>
</p>

