@model PagedList.IPagedList<Innovation_Ahead.CarPart>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Customer";
}

<link rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<h2>Customer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Customer", "home"))
    {
        <input type="text" name="fil" />
        <input type="submit" value="Search" />
    }
</p>
<p>
    <div class="container" style="margin-top: 20px;">
        <table id="customers">

            <tr>
                <th>Provider Name</th>
                <th>Contact Number</th>
                <th>Product Name</th>
                <th>Car Name</th>
                <th>Compatibile Year(s)</th>
                <th>Quantity</th>
                <th>Item Description</th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.link1</td>
                    <td>@item.link2</td>
                    <td>@item.sparePart</td>
                    <td>@item.carName</td>
                    <td>@item.makeyear</td>
                    <td>@item.quantity</td>
                    <td>@item.description</td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, page => Url.Action("Customer", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Products
    </div>
</p>

